GENESIS/EPSC*.txt
GENESIS/*netview*.txt
GENESIS/*summary*.txt

NeuroML2/*.svg

*.bak
neuroConstruct/generatedMOOSE
neuroConstruct/generatedNeuroML
neuroConstruct/generatedNEURON
neuroConstruct/generatedGENESIS
neuroConstruct/simulations
neuroConstruct/generatedNeuroML*
*.*~
neuroConstruct/backup*
