*.bak
neuroConstruct/generatedMOOSE
neuroConstruct/generatedNeuroML
neuroConstruct/generatedNEURON
neuroConstruct/generatedGENESIS
neuroConstruct/simulations
neuroConstruct/generatedNeuroML*
*.*~
neuroConstruct/backup*
