/neuroConstruct/generatedNeuroML2/runsim.sh
/neuroConstruct/generatedNeuroML2/LEMS_ACnet2.xml
GENESIS/EPSC*.txt
GENESIS/*netview*.txt
GENESIS/*summary*.txt

NeuroML2/*.svg

*.bak
neuroConstruct/generatedMOOSE
neuroConstruct/generatedNEURON
neuroConstruct/generatedGENESIS
neuroConstruct/simulations
*.*~
neuroConstruct/backup*
